In [243]:
import pandas as pd
import numpy as np

Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [244]:
df=pd.read_csv('orders.csv', sep=',', encoding='utf-8', on_bad_lines='warn')
df.head(10)

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016/09/04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014/11/14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017/02/26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013/12/01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015/10/22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
5,2016/01/15,9,HTS-061311-0003,061311,Black T-Shirt F,17.5,4
6,2014/11/25,6,HTS-479441-0001,479441,Hoodie,23.0,19
7,2014/11/01,10,HTS-352809-0001,352809,Black T-Shirt M,19.0,2
8,2013/11/03,10,HTS-494332-0001,494332,Wh Tshirt F,18.0,2
9,2013/10/02,14,HTS-463794-0001,463794,Tennis Shirt,24.0,1

In [245]:
# ad1.
df['order_date']=pd.to_datetime(df["order_date"], format="%Y/%m/%d")
print('data: ', df['order_date'].tail(1))
#ad2
df['tshirt_category'].value_counts()
display(df['tshirt_category'].value_counts())
#ad3. obsługa brakujących danych i ujednolicenie nazw
lista_zmian={"Wh ":"White ", "Bl ":"Black ", "Tshirt":"T-Shirt", "Tennis Shirt":"Tennis Shirt all-size" ,"Hoodie":"no-info Hoodie all-size"}
for key in lista_zmian.keys():
    df['tshirt_category']=df['tshirt_category'].apply(lambda x : x.replace(key, str(lista_zmian[key])))
display('after:',df['tshirt_category'].value_counts())

data:  26551   2016-12-16
Name: order_date, dtype: datetime64[ns]

Hoodie             6229
White T-Shirt M    5547
Black T-Shirt M    4454
White T-Shirt F    3513
Black T-Shirt F    3248
Tennis Shirt       2153
Wh Tshirt M         462
Bl Tshirt M         377
Wh Tshirt F         312
Bl Tshirt F         257
Name: tshirt_category, dtype: int64

'after:'

no-info Hoodie all-size    6229
White T-Shirt M            6009
Black T-Shirt M            4831
White T-Shirt F            3825
Black T-Shirt F            3505
Tennis Shirt all-size      2153
Name: tshirt_category, dtype: int64

In [246]:
df[[ 'tshirt_color','tshirt_type', 'tshirt_size']]=df['tshirt_category'].apply(lambda x : pd.Series(str(x).split()))
# df[[ 'tshirt_color','tshirt_type', 'tshirt_size']]=df['tshirt_category'].str.split(expand=True) #2 sposob szybszy ale bez lambda czas: 1' (poprzedni 11')

In [247]:
#ad5
#data między rozumiem włącznie z krańcami przedziałów stąd znak równości (jak between w sql)
ad5=df[(df['order_date'] >= '31/12/2014') & (df['order_date'] <='2016/08/02')]['order_id']
ad5.head(10)

4     HTS-88ua9r-0001
5     HTS-061311-0003
12    HTS-je57lh-0001
13    HTS-252675-0002
15    HTS-heb26i-0001
16    HTS-989355-0003
17    HTS-679143-0002
18    HTS-301362-0001
19    HTS-1b0lnt-0002
20    HTS-198773-0002
Name: order_id, dtype: object

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [248]:
customers=pd.read_csv('customers.csv', sep=',', encoding='utf-8', on_bad_lines='warn')
print("ad1. kolumny:", list(customers.columns))
print("ad2. order:", df.shape," customer:", customers.shape)
df.rename(columns={'customerID':'customer_id'}, inplace=True)
print('ad3.', df['customer_id'].head(0))

ad1. kolumny: ['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address', 'campaign']
ad2. order: (26552, 10)  customer: (18766, 6)
ad3. Series([], Name: customer_id, dtype: object)

ad4. <br>
*Sprawdziłem typy danych <br>
*zweryfikowałem uzupełnienie klucza (czy są braki)  <br>
***usunąłem zdublowane klucze** (aby uniknać dublowania obserwacji) <br>
Do połączenia ramek wykorzystałem **`merge`** z opcją **`how='left'`**.  <br>
Innymi słowy dopisałem do orders (wiele zamówień) informację o kliencie (jednoznaczna) (1 klient może mieć n zamówień) <br>
Teraz każde zamówienie ma dodatkowe wpisy o swoim kliencie.`

In [249]:
print("Puste dla customerID:", customers['customerID'].isna().sum(),   #podaje false to 0 -> wniosek brak pustych w kluczu
    ". Puste dla customer_id: ", df['customer_id'].isna().sum(),    #podaje false to 0 -> wniosek brak pustych w kluczu 
    )

Puste dla customerID: 0 . Puste dla customer_id:  0

In [250]:
df.info()
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  datetime64[ns]
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_category  26552 non-null  object
 5   tshirt_price     26552 non-null  float64
 6   tshirt_quantity  26552 non-null  int64
 7   tshirt_color     26552 non-null  object
 8   tshirt_type      26552 non-null  object
 9   tshirt_size      26552 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18766 entries, 0 to 18765
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  18766 non-null  object
 1   gender      16850 non-null  object
 2   birthdate   18766 non-null  object
 3   user_agent  18766 non-null  object
 4   ip_address  18766 non-null  object
 5   campaign    18766 non-null  bool
dtypes: bool(1), object(5)
memory usage: 751.5+ KB

In [251]:
print('usuwanie duplikatów z *customers* ')
# 1sp
print('przed:', customers['customerID'].duplicated().sum(), 'po:', customers.loc[customers['customerID'].isin(customers['customerID'].unique()), :].duplicated().sum())
# 2sp
# customers.drop_duplicates('customerID').duplicated().sum()
customers[customers['customerID'].duplicated()].sort_values(by=['customerID'])

usuwanie duplikatów z *customers*
przed: 75 po: 0

,customerID,gender,birthdate,user_agent,ip_address,campaign
17122,000759,M,1859/2/5,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:51....,48.21.157.116,False
14289,022916,M,1967/10/3,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,190.242.40.247,False
17504,027873,M,1999/4/1,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,84.150.199.70,False
10709,040906,M,1944/8/14,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,65.88.55.153,False
18446,044710,M,1942/9/10,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,47.93.163.99,False
...,...,...,...,...,...,...
8354,918496,F,1993/6/7,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,105.210.66.242,True
6964,923895,M,1984/12/25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,147.223.111.217,False
5640,936843,M,1953/8/8,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,67.117.168.40,False
11960,964457,F,1978/2/17,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5...,170.89.42.53,False
15111,995959,M,1938/11/6,Mozilla/5.0 (Windows NT 10.0; WOW64; rv:51.0) ...,158.107.226.72,True

In [252]:
print ('oczekiwana liczba unikalnych orders_id w orders:',  df['order_id'].drop_duplicates().count())

oczekiwana liczba unikalnych orders_id w orders: 26511

In [253]:
orders_cust=df.drop_duplicates('order_id').merge(customers.drop_duplicates('customerID'), how='left' ,  left_on='customer_id', right_on='customerID')
orders_cust.head(5).transpose()

,0,1,2,3,4
order_date,2016-09-04 00:00:00,2014-11-14 00:00:00,2017-02-26 00:00:00,2013-12-01 00:00:00,2015-10-22 00:00:00
pages_visited,9,11,10,10,12
order_id,HTS-038040-0002,HTS-801797-0001,HTS-vft1eu-0003,HTS-914324-0001,HTS-88ua9r-0001
customer_id,038040,801797,vft1eu,914324,88ua9r
tshirt_category,White T-Shirt M,White T-Shirt M,White T-Shirt F,White T-Shirt F,White T-Shirt M
tshirt_price,20.0,20.0,18.0,18.0,20.0
tshirt_quantity,1,1,3,1,1
tshirt_color,White,White,White,White,White
tshirt_type,T-Shirt,T-Shirt,T-Shirt,T-Shirt,T-Shirt
tshirt_size,M,M,F,F,M
customerID,038040,801797,vft1eu,914324,88ua9r
gender,F,M,F,F,F
birthdate,1946/12/21,1956/7/19,1969/6/27,1959/10/22,1985/4/14
user_agent,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...
ip_address,67.74.254.174,137.155.219.158,53.115.6.106,51.99.199.27,169.15.143.204
campaign,False,False,True,False,True

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [254]:
orders_cust.to_csv('orders_cust.csv', index=False)